{% extends "base.html" %}
{% block content %}
<h1> visualize MacroSheds data </h1>
<br>
<div class="panel-group">
  <div class="panel panel-primary">
    <!-- <div class="panel-heading">what is stream.macrosheds?</div> -->
    <div class="panel-body">
       <p> watershed biogeochemical data in the MacroSheds dataset can be visualized at <a href="https://www.macrosheds.org">macrosheds.org</a> using a variety of convenient online plotting and mapping tools</p>
    </div>
  </div>
</div>
{% endblock %}
