{% extends "base.html" %}
{% block content %}

<h1> Match your column names to MacroSheds variables </h1>
<p><strong>We've tried to match some column names below, but please double check.</strong>>/p>
<p>Leave blank any column names that don't have a match. You may <a href="mailto:mail@macrosheds.org">email us</a> to request the addition of new variable names.</p>
<br>

<div class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading">
        <p>
            <span>After confirming all inputs: </span>
            <span>
                <button type="button" class="btn btn-success btn-lg" ><a href="{% url 'upload_timeseries' %}">continue</a></button>
            </span>
        </p>

        <table class="table table-condensed">
            <tr>
                <th>User Column</th>
                <th>Match</th>
            </tr>

            {% for match in matches.items %}
                <tr>
                    <!-- name of input column -->
                    <td>{{ match.0 }}</td>
                    <td>
                        <select name="post_categories" class="filter-selectbox">
                            {% for match_option in match.1 %}
                                <option value="{{ match_option.0 }}"> {{ match_option.0 }} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
  </div>
</div>

{% endblock %}
