{% extends "base.html" %}
{% block content %}
<h1> what data do you plan to upload to MacroSheds?</h1>
<br>



<div class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading">
      below, submit data products you plan to upload to MacroSheds
    </div>

    <div class="panel-body">
      <!-- (hover tooltip for eligibility requirements by product) -->
    <form action="/upload/plan" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>
    </div>
  </div>
</div>

<div class="container">


  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th>upload</th> -->
        <th>upload product</th>
      </tr>
    </thead>
    <tbody>
      {% for x in products %}
      <tr>
        <!-- <td > -->
        <!--   <div class="msprod checkbox"> -->
        <!--     <label> -->
        <!--       <input type="checkbox" value="" checked> -->
        <!--     </label> -->
        <!--   </div> -->
        <!-- </td> -->
        <td class = 'msprod'>
            {{x.prod_name}}
          <!-- <div class="msprod checkbox"> -->
          <!-- </div> -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading">
      <p>if you have filled out all of the above, continue</p>
    </div>

    <div class="panel-body">
      <button type="button" class="btn btn-success btn-lg" ><a href="{% url 'upload_plan' %}">continue</a></button>
    </div>
  </div>
</div>

{% endblock %}
