<div class="sidebar">
    <a href="{% url 'upload_requirements' %}" class='custom-disabled sb-link sb-link-focused'>Requirements</a>
    <br>
    <br>
    <a href="{% url 'upload_plan' %}" class='custom-disabled sb-link'>Plan</a>
    <br>
    <br>
    <a href="{% url 'upload_sitedata' %}" class='custom-disabled sb-link'>Site Data</a>
    <br>
    <br>
    <a href="{% url 'upload_timeseries' %}" class='custom-disabled sb-link'>Time-series Data</a>
    <br>
    <br>
    <a href="{% url 'upload_requirements' %}" class='custom-disabled sb-link'>Requirements</a>
    <br>
    <br>
</div>
